@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

* {
  box-sizing: border-box;
}

/* Configure Small Layout */
body {
  background-color: #fbd2da;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
  margin: 0;
  font-size: large;
}

#wrapper {
  background-color: #fbd2da;
  padding: 0;
}

header {
  background-color: #fbd2da;
  color: #000000;
  display: flex;
  overflow: auto;
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-top: 10px;
}

header a {
  text-decoration: none;
}

header a:link {
  color: #000000;
}

header a:visited {
  color: #000000;
}

header a:hover {
  color: #4fc4cb;
}

.headerLeft {
  float: left;
}

h1 {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  margin-top: 0.3em;
}

h2 {
  color: #a1455f;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #2a777f;
  text-align: center;
}

h3 a {
  text-decoration: none;
}

h3 a:link {
  color: #4fc4cb;
}

h3 a:visited {
  color: #4fc4cb;
}

h3 a:hover {
  color: #6a6b6b;
}

h4 {
  color: #2a777f;
  text-align: center;
  font-size: medium;
}

h4 a {
  text-decoration: none;
}

h4 a:link {
  color: #2a777f;
}

h4 a:visited {
  color: #2a777f;
}

h4 a:hover {
  color: #4fc4cb;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #000000;
}

nav a:visited {
  color: #000000;
}

nav a:hover {
  color: #4fc4cb;
}
nav a:active {
  color: #4fc4cb;
}

nav ul {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  border-bottom: 1px solid #bcbec0;
  padding: 0.1em 0.1em;
  width: 100%;
}

main {
  background-color: #f6f6f4;
  display: block;
  text-align: center;
  padding: 1em 0 1em 0;
}

h3,
h4,
p,
div,
ul,
dl {
  padding-left: 1em;
  padding-right: 1em;
}

main ul {
  padding-left: 2em;
}

.details {
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
  vertical-align: middle;
}
.details2 {
  overflow: auto;
  vertical-align: middle;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  border-radius: 20%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
}

.card {
  width: 450px;
  margin: 10px;
  border-radius: 3%;
}

.card-medium {
  width: 375px;
  margin: 10px;
  border-radius: 3%;
}

.card-small {
  width: 350px;
  margin: 10px;
  border-radius: 3%;
}

.card img {
  max-width: 100%;
}

.card .name {
  padding: 0 10px 0px;
}

.card .title {
  text-align: center;
}

.card .text {
  padding: 0 0px 10px;
}

.contact {
  font-size: smaller;
}

#mobile {
  display: inline;
}

#desktop {
  display: none;
}

footer {
  background-color: #9a9a9a;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding-bottom: 1em;
  border-top: 2px solid #fbd2da;
}

table {
  margin: auto;
  align-items: center;
  width: 80%;
  border-spacing: 0;
}
th,
td {
  padding: 10px;
}
tr:nth-of-type(odd) {
  background-color: #fbd2da;
}

table.skinny {
  margin: auto;
  align-items: center;
  width: 50%;
  border-spacing: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-size: medium;
}
input,
textarea {
  margin-bottom: 0.5em;
}

/* Configure Medium Layout */
@media (min-width: 600px) {
  header {
    margin: 0;
  }

  h1 {
    font-size: 2em;
  }

  nav {
    background-color: #fbd2da;

    font-family: Helvetica, Arial, serif;
    overflow: hidden;
    text-transform: uppercase;
    width: 100%;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }

  nav li {
    border-bottom: none;
    font-size: 0.8em;
    padding: 5px 5px;
  }

  nav li a:hover,
  nav li a:focus {
    color: #4fc4cb;
  }

  nav ul {
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 5px 5px;
  }

  nav a {
    border-radius: 4px;
    color: #000000;
    float: right;
    text-decoration: none;
    padding-right: 10px;
  }

  main {
    padding: 2em 3% 2em 3%;
  }

  #flow {
    display: flex;
    flex-direction: row;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: inline;
  }

  .details {
    display: flex;
    flex-direction: row;
  }

  .image-right {
    float: right;
  }

  .image-left {
    float: left;
  }

  h4 {
    margin-left: 10%;
    margin-right: 10%;
  }
  form {
    width: 90%;
    display: grid;
    grid-gap: 1em;
    gap: 1em;
    grid-template-columns: 6em 1fr;
  }
  input[type="submit"] {
    grid-column: 2 / 3;
    width: 9em;
  }
}

/* Configure Large Layout */
@media (min-width: 1024px) {
  @supports (display: grid) {
    header {
      grid-area: header;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 100;
    }

    nav {
      grid-area: nav;
      background-color: #fbd2da;

      font-family: Helvetica, Arial, serif;
      overflow: hidden;
      text-transform: uppercase;
      width: 100%;

      position: sticky;
      top: 0;
      left: 0;
      z-index: 100;
    }

    nav li {
      float: left;
    }

    nav li a:hover,
    nav li a:focus {
      color: #4fc4cb;
    }

    nav ul {
      display: flex;
      float: right;
      list-style: none;
      flex-direction: row;
      font-size: 1.2em;
      padding-top: 20px;
    }

    nav a {
      border-radius: 4px;
      color: #000000;
      float: right;
      text-decoration: none;
      padding-right: 20px;

      font-weight: bold;
    }

    main {
      grid-area: main;
      padding: 2em 10% 2em 10%;
      font-size: larger;
    }

    footer {
      grid-area: footer;
    }

    #wrapper {
      display: grid;
      grid-template:
        "header nav"
        "main    main"
        "footer footer";
      grid-template-columns: 1fr 70%;
      grid-template-rows: 80px 1fr 5%;
    }

    .row {
      display: flex;
    }

    .column {
      flex: 50%;
      padding: 2%;
      justify-content: center;
    }

    table.skinny {
      margin: auto;
      align-items: center;
      width: 20%;
      border-spacing: 0;
    }

    table.skinny1 {
      margin: auto;
      align-items: center;
      width: 47%;
      border-spacing: 0;
      float: left;
    }

    table.skinny2 {
      margin: auto;
      align-items: center;
      width: 47%;
      border-spacing: 0;
      float: right;
    }

    .extra-margin {
      padding-left: 6%;
      padding-right: 6%;
    }
  }
}