<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tyler Blackham &mdash; Resume</title>
    <meta name="description" content="Resume" />
    <meta name="author" content="Tyler Blackham" />
    <meta
      name="keywords"
      content="Homework, USU, Data Analytics and Information Systems"
    />
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>Tyler A. Blackham</h1>
	<h3>{{ the_date }}</h3>
      </header>
      <main>
	<a href="/about">About Me</a>
        <div>
          <p>
            (801) 414-6040 • ty.blackham@gmail.com •
            linkedin.com/in/tyler-a-blackham
          </p>
        </div>
        <h2>Education</h2>
        <p>
          Jon M. Huntsman School of Business, Utah State University Bachelor of
          Information Systems; Emphasis: Cybersecurity; Minor: Data Analysis
          &mdash; May 2025
        </p>
        <h2>Work Experience</h2>
        <h4>IT Technician, Utah Water Research Laboratory</h4>
        <p>
          Utah Water Research Laboratory &mdash;Logan, UT, March 2024-Present
        </p>
        <ul>
          <li>
            Conducted a survey of assets and equipment to determine current and
            future needs.
          </li>
          <li>
            Recommend improvements to technological equipment and procedures to
            improve efficiency.
          </li>
          <li>
            Provide IT support to faculty, staff, and students at the UWRL as
            needed.
          </li>
        </ul>
        <h4>Computer Repair Technician</h4>
        <p>IntersafeIT &mdash;Logan, UT, August 2023-February 2024</p>
        <ul>
          <li>
            Evaluated and troubleshooted damaged or malfunctioning computers
            from our clients and customers.
          </li>
          <li>
            Greeted customers and conducted an intake assessment, logging a
            description of the issue the customer experienced.
          </li>
          <li>
            Repaired computer hardware defects and conducted stress tests to
            ensure they were in working order
          </li>
          <li>
            Installed servers, cameras, and computers and configured software
            for security systems and related devices
          </li>
        </ul>
        <h4>IT Technician &mdash;Intern</h4>
        <p>Midvale City Corporation &mdash;Midvale, UT, April 2023-July 2023</p>
        <ul>
          <li>
            Provided technical support, troubleshooting, and computer repairs
            for city staff and elected officials.
          </li>
          <li>
            Provisioned, set up, and deployed computers for use by staff and the
            general public.
          </li>
          <li>
            Conducted asset inventory and recorded surplus information for
            IT-related equipment.
          </li>
          <li>
            Updated Microsoft Teams Ticketing System Knowledge Base to promote
            independent problem-solving
          </li>
        </ul>
        <h2>Volunteer Work</h2>
        <h4>HAM Radio Operator</h4>
        <p>Utah SAG &mdash;Utah, May 2022-Present</p>
        <ul>
          <li>
            Provided essential communication support during bicycle and foot
            race events, ensuring the safety of participants
          </li>
          <li>
            Relayed critical information to event officials regarding
            participants and rest stop supplies.
          </li>
        </ul>
        <h4>Religious Representative</h4>
        <p>
          Church of Jesus Christ of Latter-Day Saints &mdash;Buenos Aires,
          Argentina and Nashville TN, August 2019-August 2021
        </p>
        <ul>
          <li>Participated in weekly organized service projects.</li>
          <li>
            Directed and trained groups of 5-10 missionaries and helped resolve
            issues within their partnerships.
          </li>
        </ul>
        <h2>Skills and Accomplishments</h2>
        <ul>
          <li>Spanish</li>
          <li>BSA Eagle Scout</li>
          <li>Troubleshooting</li>
          <li>Computer Diagnostic/Repair</li>
          <li>Audio Visual Systems</li>
          <li>Microsoft Office</li>
          <li>Customer Service</li>
          <li>Inventory Management</li>
          <li>Communication Skills</li>
        </ul>
      </main>
    </div>
  </body>
</html>
